body {
	background-color: #c89f9c;
}

img {
	width: 160px;
}

h1, h2, h3 {
  color: #b36a5e;
}

#content {
	min-height: 200px;
	padding: 25px;
	margin: 10px;
	border: solid 1px black;
	background-color: #eee2df;
}

#labs {
	min-height: 100px;
	padding: 25px;
	margin: 10px;
	border: solid 1px black;
	background-color: #eee2df;
}
