#mainidea-button {
  background-color: #eed7c5;
}

#challenges-button {
  background-color: #eed7c5;
}

#results-button {
  background-color: #eed7c5;
}

#mainidea.fred {
  color: #eed7c5;
}

#challenges.george {
  color: #c89f9c;
}

#results.sam {
  color: #c97c5d;
}
